@model IEnumerable<SimpleSearchApp.Models.Student>
@{
    ViewBag.Title = "Index";
}
<script src="~/Scripts/jquery-1.8.2.min.js"></script>

<script type="text/javascript">
    function filter() {

        $.ajax({
            type: "POST"
            , url: "Student2/Filter"
            , data: JSON.stringify({ filterText: $("#txtFilter").val() })
            , contentType: 'application/json;'
            , success: function (result) {
                $("#tblStudents").html(result);
            }
        });
    }


</script>



<h2>Index</h2>

@Html.TextBox("txtFilter")
<input type="button" value="search" onclick="filter()" />
<br />

<div id="tblStudents">
    @Html.Partial("_students", Model)
</div>
